.asistencia-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white !important;
}

.dias-header {
  display: flex;
  margin-bottom: 10px;
}

.nombre-header {
  width: 100px;
}

.dia-header {
  width: 30px;
  text-align: center;
  font-weight: bold;
}

.student-row {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.nombre {
  width: 100px;
  padding: 5px;
  font-weight: bold;
}

.dias-row {
  display: flex;
}

.dia {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
}

.falta {
  background-color: #f8d7da;
  color: red;
}
.permiso {
  background-color: #f2f8d7;
  color: #b4ce08;
}
.dia.fin-de-semana {
  background-color: #e0e0e0;
  pointer-events: none;
  cursor: not-allowed;
}
