.maincontainer {
  background-image: url("../src/assets/vector.png");
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
.bg-dark {
  background-color: rgb(5 22 37) !important;
}
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #35d9ff54;
}
/* ===========
    Variabels
   =========== */

/* ===============
    Global Styles
   =============== */

*,
*::before,
*::after {
  box-sizing: inherit;
}
html,
body {
  margin: 0;
  width: 100%;
  font-size: small;
  color: hsl(var(--text-primary));
  font-family: var(--font-main);
  background-color: hsl(var(--background));
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.btn-success {
  background-color: #2188e2;
  border-color: #2188e2;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  background-color: darken(#2188e2, 10%);
  border-color: darken(#2188e2, 12%);
}

.btn-success:disabled,
.btn-success[disabled] {
  background-color: #2188e2;
  border-color: #2188e2;
}
/* =========
    Classes
   ========= */

/* ================
    Global classes
   ================ */
.c_margin1 {
  margin: 1rem;
}
.c_padding1 {
  padding: 1rem;
}
.c_padding2 {
  padding: 2rem !important;
}
/* =========
    Flexbox
   ========= */

.flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexbox-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.flexbox-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
/* Columns */
.flexbox-col {
  display: flex;
  flex-direction: column;
}
.flexbox-col-left {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
}
.flexbox-col-left-ns {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}
.flexbox-col-right {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
}
.flexbox-col-start-center {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}
/* Spacings */
.flexbox-space-bet {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* =========
    Classes
   ========= */

.view-width {
  width: 70%;
}

/* ========
    Navbar
   ======== */

#navbar {
  top: 0;
  padding: 0;
  width: 15em;
  height: 100vh;
  position: fixed;
  background-color: hsl(var(--background-secondary));
  transition: width 0.35s cubic-bezier(var(--transition-main), 1);
  overflow-y: auto;
  overflow-x: hidden;
}
#navbar::-webkit-scrollbar-track {
  background-color: hsl(var(--background-secondary));
}
#navbar::-webkit-scrollbar {
  width: 8px;
  background-color: hsl(var(--background-secondary));
}
#navbar::-webkit-scrollbar-thumb {
  background-color: hsl(var(--primary));
}
.navbar-items {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* Navbar Logo */
.navbar-logo {
  margin: 0 0 2em 0;
  width: 100%;
  height: 5em;
  background: hsl(var(--background-secondary-dark));
}
.navbar-logo > .navbar-item-inner {
  width: calc(5rem - 8px);
}
.navbar-logo > .navbar-item-inner:hover {
  background-color: transparent;
}
.navbar-logo > .navbar-item-inner > svg {
  height: 2em;
  fill: hsl(var(--white));
}
/* Navbar Items */
.navbar-item {
  padding: 0 0.5em;
  width: 100%;
  cursor: pointer;
}
.navbar-item-inner {
  padding: 1em 0;
  width: 100%;
  position: relative;
  color: hsl(var(--quite-gray));
  border-radius: 0.25em;
  text-decoration: none;
  transition: all 0.2s cubic-bezier(var(--transition-main), 1);
}
.navbar-item-inner:hover {
  color: hsl(var(--white));
  background: hsl(var(--background-secondary-light));
  box-shadow: 0 17px 30px -10px hsla(var(--black), 0.25);
}
.navbar-item-inner-icon-wrapper {
  width: calc(5rem - 1em - 8px);
  position: relative;
}
.navbar-item-inner-icon-wrapper ion-icon {
  position: absolute;
  font-size: calc(var(--navbar-buttons) - 1rem);
}
.link-text {
  margin: 0;
  width: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: all 0.35s cubic-bezier(var(--transition-main), 1);
  overflow: hidden;
  opacity: 0;
}
#navbar:hover .link-text {
  width: calc(100% - calc(5rem - 8px));
  opacity: 1;
}

.form-content {
  margin: 2rem;
}

.form-check-label {
  margin-top: 0.5rem;
  margin-left: 0.2rem;
}
/* =============
    ::Selectors
   ============= */

/* Selection */
::selection {
  color: hsl(var(--white));
  background: hsla(var(--primary), 0.33);
}
/* Scrollbar */
::-webkit-scrollbar-track {
  background-color: hsl(var(--background));
}
::-webkit-scrollbar {
  width: 8px;
  background-color: hsl(var(--background));
}
::-webkit-scrollbar-thumb {
  background-color: hsl(var(--primary));
}

/* ===============
    5. @keyframes
   =============== */

/* ==============
    @media rules
   ============== */

@media only screen and (max-width: 1660px) {
  :root {
    /* Sizes */
    --heading-large: 5.4rem;
    --heading-medium: 3.4rem;
    --heading-small: 2.2rem;
  }
}
@media only screen and (max-width: 1456px) {
  :root {
    /* Sizes */
    --heading-large: 5.2rem;
    --heading-medium: 3.2rem;
    --heading-small: 2rem;
  }
  .view-width {
    width: 80%;
  }
}
@media only screen and (max-width: 1220px) {
  .view-width {
    width: 70%;
  }
}
@media only screen and (max-width: 1024px) {
  :root {
    /* Sizes */
    --heading-large: 5rem;
    --heading-medium: 3rem;
    --heading-small: 1.8rem;
  }
  .view-width {
    width: 75%;
  }
}
@media only screen and (max-width: 756px) {
  :root {
    /* Sizes */
    --heading-large: 4rem;
    --heading-medium: 2.6rem;
    --heading-small: 1.6rem;
    --paragraph: 1rem;
    --navbar-buttons: 2.2rem;
  }
  .view-width {
    width: calc(100% - 5em);
  }
}
@media only screen and (max-width: 576px) {
  .view-width {
    width: calc(100% - 3em);
  }
}
@media only screen and (max-width: 496px) {
}
