/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

.login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: url("../../assets/login.jpg");
  background-size: cover;
  background-position: center center;
}

.bg-img {
  color: white;
  background: rgb(27, 38, 158);
  background: linear-gradient(90deg, #0a58ca 0%, rgba(1, 1, 0, 1) 99%);
}
